.containers {
    margin: 5rem 10%;
}

.text-headers {
    border-bottom: 2px solid var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.text-headers h1 {
    font-size: 32px;
    font-weight: 500;
    text-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.text-headers h2 {
    font-size: 18px;
    font-weight: 200;
    text-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    color: var(--hover-color);
}

.menus-manage ul{
    display: flex;
    gap: 30px;
}
.menus-manage ul li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 6px;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease;
    font-size: 17px;
}
.menus-manage ul li:hover{
    color: var(--hover-color);
}
.menus-manage ul li::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--bg-color);
    transition: width 0.3s ease;
}

.menus-manage ul li:hover::after,
.menus-manage ul li.active::after {
  width: 100%;
}

.menus-manage ul li.active{
    color: var(--hover-color);
    transform: translateY(-5px);
}

.upload-headers{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.upload-btn {
    display: inline-block;
    background-color: var(--text-color);
    color: white;
    padding: 0.7rem 1.3rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 14px;
}

.upload-btn:hover {
    background-color: var(--hover-color);
}

.image-headers, .image-rec {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border-bottom: 1px solid var(--bg-color);
    padding-bottom: 20px;
}

.preview-box {
    margin-top: 1rem;
    border: 1px dashed var(--bg-color);
    padding: 1rem;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-preview {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.img-preview:hover {
    transform: scale(1.02);
}

.no-img{
    width: 150px;
    height: 110px;
    display: flex;
    flex-direction: column      ;
    justify-content: center;
    line-height: 2px;
    text-align: center;
    align-items: center;
    color: var(--hover-color);
}
.text-uploadheader h1, .image-rec h1{
 font-size: 20px;
 font-weight: 500;
 
}
.text-uploadheader h2 , .image-rec h2   {
    font-size: 14px;
    font-weight: 300;
    color: var(--hover-color);
}

