.containers {
    margin: 5rem 10%;
}

.text-headers {
    border-bottom: 2px solid var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.text-headers h1 {
    font-size: 32px;
    font-weight: 500;
    text-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.text-headers h2 {
    font-size: 18px;
    font-weight: 200;
    text-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    color: var(--hover-color);
}

.menus-manage ul {
    display: flex;
    gap: 30px;
}

.menus-manage ul li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 6px;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease;
    font-size: 17px;
}

.menus-manage ul li:hover {
    color: var(--hover-color);
}

.menus-manage ul li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--bg-color);
    transition: width 0.3s ease;
}

.menus-manage ul li:hover::after,
.menus-manage ul li.active::after {
    width: 100%;
}

.menus-manage ul li.active {
    color: var(--hover-color);
    transform: translateY(-5px);
}

