
.container-table{
  display: flex;
  align-items: flex-start;

}
.table-menu{
  display: grid;
    gap: 15px;
    padding: 2rem 3rem;
    justify-content: start;
    margin-top: 5%;
}
.btn-tables {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    padding: 2rem 3rem;
    justify-content: center;
    margin-top: 5%;
    max-height: 650px;
    overflow-y: auto;
    margin-left: 3%;
  }
  .data-table-items{
    display: flex;
    gap: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding: 2rem 3rem;
    justify-content: flex-start;
    margin-top: 5%;
    flex: 1;
    max-width: 750px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .btn-tables .table-boxs .table-id {
    width: 140px;
    height: 110px;
    padding: 12px 18px;
    font-size: 20px;
    background-color: #f9f8f6;
    border: 0.5px solid var(--bg-color);
    display: flex;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  }
  
  .btn-tables .table-boxs .table-id:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 1px 8px 18px rgba(0, 0, 0, 0.25);
  }
  
  .btn-tables .table-boxs .table-id.active {
    border: 3px solid var(--text-color);
    transform:  translateY(-3px) scale(0.95);
    box-shadow: 1px 8px 18px rgba(0, 0, 0, 0.3);
  }
  .table-num p{
    margin-top: 40px;
  }
  .price-total{
    display: flex;
    align-items: center;
    margin-left: 20rem;
  }
  .price-total span{
    font-size: 28px;
    font-weight: 700;
    margin-left: 30px;
  }
  .btn-items{
    display: flex;
    gap: 20px;
    margin-top: 2rem;
    margin-left: 2rem;
  }
  .btn-items button{
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: all 0.4s ease;
  }
  .btn-items button:hover{
    transform: translateY(-4px);
  }
  .btn-items .add, .discount, .move{
    background-color: var(--text-color);
    color: white;
  }
  .btn-items .removes{
    background-color: var(--remove-color);
    color: white;
  }
  .table-scale {
    transform: scale(0.5);     /* ลดเหลือ 85% (ปรับได้ เช่น 0.8 / 0.7) */
    transform-origin: top left; /* ย่อจากมุมซ้ายบน */
    width: fit-content;         /* ป้องกันการกินพื้นที่ */
  }
  
