.btn-tables {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 15px;
    padding: 2rem 2rem;
    justify-content: center;
    margin-top: 5%;
  }
  
  .btn-tables .table-boxs button {
    width: 190px;
    height: 110px;
    padding: 12px 18px;
    font-size: 20px;
    background-color: #f9f8f6;
    border: 0.5px solid var(--bg-color);
    display: flex;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  }
  
  .btn-tables .table-boxs button:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 1px 8px 18px rgba(0, 0, 0, 0.25);
  }
  
  .btn-tables .table-boxs button:active {
    transform: scale(0.95);
  }