.table-headers {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.table-headers .all-table {
  background-color: var(--text-color);
  width: 200px;
  padding: 1rem 2.5rem;
  margin-top: 30px;
  border-radius: 20px;
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.25);
}
.all-table{
  color: white;
  
}
.all-table h1 {
  font-size: 24px;
}
.table-headers .btn-createtable {
  display: flex;
  gap: 15px;
}
.table-headers .btn-createtable button {
  padding: 1rem 2rem;
  border-radius: 30px;
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.table-headers .btn-createtable button:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.45);
}
.table-headers .btn-createtable button:active {
  transform: scale(0.95);
}
.table-headers .btn-createtable .btn-delete {
  background-color: var(--remove-bg);
  display: flex;
  align-items: center;
  gap: 5px;
}
.table-headers .btn-createtable .btn-create {
  background-color: var(--text-color);
  display: flex;
  align-items: center;
  gap: 5px;
}
.table-headers .btn-createtable .btn-create:hover {
  background-color: var(--hover-color);
}
.table-headers .btn-createtable .btn-delete {
  background-color: var(--remove-color);
}
.table-headers .btn-createtable .btn-delete:hover {
  background-color: var(--hover-remove);
}

.btn-table {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;

  margin-top: 5%;
}
.btn-table .table-box button {
  width: 190px;
  height: 110px;
  padding: 12px 18px;
  font-size: 20px;
  background-color: #f9f8f6;
  border: 0.5px solid var(--bg-color);
  display: flex;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}
.btn-table .table-box button:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 1px 8px 18px rgba(0, 0, 0, 0.25);
}
.btn-table .table-box button:active {
  transform: scale(0.95);
}
/* .table-box {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.table-id {
  width: 80px;
  height: 80px;
  font-size: 24px;
  border-radius: 10px;
  position: relative;
}

.table-price {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 14px;
  padding: 2px 6px;
  border-radius: 5px;
} */
