.text-recse{
    display: flex;
    justify-content: end;
    flex-direction: column;
    margin-top: 30px;
    gap: 15px;
   
}
.text-recse input{
    padding: 0.5rem ;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid var(--hover-color);
    color: var(--text-color);
}

.text-recse input:focus{
    outline: none;
}
.texts-logo{
    margin: 3% 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.texts-logo p{
    margin: 0;
}
.texts-logo input{
    
    padding: 0.5rem 1rem;   
    color: var(--text-color);
    font-size: 16px;
    border: 1px solid var(--hover-color);
    border-radius: 10px;
    width: 300px;
}
.texts-logo input:focus{
    outline: none;
}
.btn-savehome{
    display: flex;
    justify-content: end;
    margin-top: 3%;
}
.btn-savehome button{
    padding: 0.7rem 2rem;
    color: white;
    background-color: var(--text-color);
    transition: all 0.3s ease-in-out;
}

.btn-savehome button:hover{
    background-color: var(--hover-color);
    transform: translateY(-5px);
}
