.types-headers {
  border-bottom: 2px solid var(--text-color);
}

.food-types {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: end;
  margin-bottom: 20px;
}

.food-types p {
  position: relative;
  font-size: 1.3rem;
  padding: 0 12px;
  cursor: pointer;
  transition: all 0.3s ease;

}

.food-types p:hover {
  color: var(--bg-color);
  transform: translateY(-3px) scale(1.03);

}

.food-types p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--bg-color);
  transition: width 0.3s ease;
}

.food-types p:hover::after,
.food-types.active::after {
  width: 100%;
}

.food-types p.active-type {
  color: var(--hover-color);
  transform: translateY(-5px);

}

.food-type-title {
  margin-left: 4%;
}

.card-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  justify-items: start;
  padding: 2rem 0;
}

.food-group {
  border-bottom: 1px solid var(--text-color);
  padding: 1.5rem;
  margin-bottom: 2rem;
  background-color: #fff;
}

.food-type-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--text-color);
}