.text-recse {
    display: flex;
    justify-content: end;
    flex-direction: column;
    margin-top: 30px;
    gap: 15px;
}

.text-recse input {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid var(--hover-color);
    color: var(--text-color);
}

.text-recse input:focus {
    outline: none;
}

.texts-logo {
    margin: 3% 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.texts-logo p {
    margin: 0;
}

.texts-logo input {
    padding: 0.5rem 1rem;
    color: var(--text-color);
    font-size: 16px;
    border: 1px solid var(--hover-color);
    border-radius: 10px;
    width: 300px;
}
.inputs-table {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 2rem 0;
    justify-content: center;
}
.inputs-table input{
    padding: 0.5rem 1rem;
    color: var(--text-color);
    font-size: 16px;
    border: 1px solid var(--hover-color);
    border-radius: 10px;
    width: 200px;
}
.texts-logo input:focus,
.inputs-table input:focus {
    outline: none;
}
.inputs-table button{
    display: flex;
    background-color: var(--text-color);
    color: white;
}
.btn-savehome {
    display: flex;
    justify-content: end;
    margin-top: 3%;
}

.btn-savehome button {
    padding: 0.7rem 2rem;
    color: white;
    background-color: var(--text-color);
    transition: all 0.3s ease-in-out;
}

.btn-savehome button:hover {
    background-color: var(--hover-color);
    transform: translateY(-5px);
}

.upload-headers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.upload-btn {
    display: inline-block;
    background-color: var(--text-color);
    color: white;
    padding: 0.7rem 1.3rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 14px;
}

.upload-btn:hover {
    background-color: var(--hover-color);
}

.image-headers,
.image-rec,
.create-tables {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border-bottom: 1px solid var(--bg-color);
    padding-bottom: 20px;
}

.preview-box {
    margin-top: 1rem;
    border: 1px dashed var(--bg-color);
    padding: 1rem;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-preview {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.img-preview:hover {
    transform: scale(1.02);
}

.no-img {
    width: 150px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2px;
    text-align: center;
    align-items: center;
    color: var(--hover-color);
}

.text-uploadheader h1,
.image-rec h1,
.text-tables h1 {
    font-size: 20px;
    font-weight: 500;
}

.text-uploadheader h2,
.image-rec h2,
.text-tables h2 {
    font-size: 14px;
    font-weight: 300;
    color: var(--hover-color);
}

/* สร้างรายการโต๊ะตามที่กรอก */
.btn-table {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 15px;
  
    margin-top: 5%;
  }
  
  .btn-table .table-box button {
    width: 190px;
    height: 110px;
    padding: 12px 18px;
    font-size: 20px;
    background-color: #f9f8f6;
    border: 0.5px solid var(--bg-color);
    display: flex;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  }
  
  .btn-table .table-box button:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 1px 8px 18px rgba(0, 0, 0, 0.25);
  }
  
  .btn-table .table-box button:active {
    transform: scale(0.95);
  }
  .input-all {
    display: flex;
    flex-direction: column;
    gap: 0;       
    line-height: 0;
    margin: 0;
    padding: 0;
}

  .input-all span{
    font-size: 24px;
    font-weight: 700;
    color: var(--hover-color);
  }