.container {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.container .img-head {
  width: 50vw;
  height: 60vh;
  object-fit: cover;
  display: block;
  position: relative;
  z-index: 5;
  margin-top: 13%;
  border-radius: 10px;
  margin-left: 28rem;
  box-shadow: 1px 8px 18px rgba(0, 0, 0, 0.9);
}

.recommend-menu,
.best-sell {
  margin: 0 6rem;
  margin-top: 100px;
}

.recommend-menu .text-rec,
.best-sell .text-best {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--bg-color);
}

.text-rec h1,
.text-best h1 {
  font-size: 2.5rem;
}

.text-rec p,
.text-best p {
  font-size: 400;
  cursor: pointer;
  transition: all 0.3s ease;
}
.text-rec p:hover,
.text-best p:hover {
  text-decoration: underline;
  color: var(--hover-color);
}
.headeres-card,
.best-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
}
.catagory-menu {
  padding: 2rem;
  margin-top: 7%;
}
.catagory-menu .text-class {
  align-items: center;
  text-align: center;
  border-bottom: 2px solid var(--bg-color);
  padding: 2.5rem 0;
  margin-bottom: 2%;
}
.catagory-grid {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  justify-content: center;
}
.bg-catagory {
  position: relative;
  height: 200px;
  width: 300px;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  box-shadow: 1 8px 18px rgba(0, 0, 0, 0.45);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.bg-catagory:hover {
  transform: scale(1.05);
  box-shadow: 1 8px 18px rgba(0, 0, 0, 0.45);
}
.bg-catagory:active {
  transform: scale(0.95);
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  color: white;
}
.overlay h1 {
  font-size: 32px;
  margin: 5p;
}
.overlay p {
  font-size: 16px;
  margin: 0;
}

.best-sells {
  color: white;
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: 8rem;
  padding: 6rem;
  background: linear-gradient(150deg, var(--text-color), var(--hover-color),var(--text-color));
  align-items: center;
}
.best-sells .img-sells img {
  width: 600px;
  height: 400px;
  border-radius: 15px;
  box-shadow: 1px 8px 18px rgba(0, 0, 0, 0.45);
}

.contact {
  display: flex;
  padding: 3rem;
  justify-content: space-between;
  background-color: var(--text-color);
  align-items: center;
  color: white;
  margin-top: 8%;
}

.contact .contact-res {
  display: flex;
  gap: 5rem;
}

.contact-res .address {
  width: 300px;
}
.con-res p {
  cursor: pointer;
}
.con-res p:hover {
  text-decoration: underline;
}

