.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: flex-end;
  z-index: 999;
}

.cart-sidebar {
    position: relative;
  width: 550px;
  height: 100%;
  background: white;
  padding: 20px;
  animation: slideIn 0.25s ease forwards;
  box-shadow: -4px 0 15px rgba(0,0,0,0.2);
}

@keyframes slideIn {
  from { transform: translateX(100%); }
  to   { transform: translateX(0); }
}

.close-btn {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 24px;
  cursor: pointer;
  font-weight: bold;
  color: #333;
  z-index: 1001;
}

