.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: flex-end;
  z-index: 999;
}

.cart-sidebar {
  position: relative;
  width: 550px;
  height: 100%;
  background: white;
  padding: 20px;
  animation: slideIn 1s ease forwards;
  box-shadow: -4px 0 15px rgba(0, 0, 0, 0.2);
  flex-direction: column;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.close-btn {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 24px;
  cursor: pointer;
  font-weight: bold;
  color: #333;
  z-index: 1001;
}

.cart-content {
  padding: 1rem;
  max-height: 680px;
  
  /* กำหนดความสูง scroll ได้ */
  overflow-y: auto;
  flex: 1;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.4);
}

.cart-image {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 1rem;
}

.cart-details {
  display: flex;
  flex-direction: column;

}

/* ทำให้ในส่วน cart detail ชิดกัน */
.cart-detail p,
.cart-detail span,
.cart-detail div {
  margin: 4px;
  padding: 0;
}

.cart-name {

  font-weight: bold;
  margin-bottom: 0.2rem;
}

.cart-details p {
  line-height: 0.1;
}

.cart-qty,
.cart-price {
  font-size: 0.9rem;
  color: #555;
}

.empty-cart {
  text-align: center;
  color: #888;
  padding: 2rem 0;
}

.btn-qty {
  display: flex;
  gap: 5px;
  align-items: center;
}

.decline,
.increse {
  cursor: pointer;

}

.total-price-save {
  position: fixed;
  bottom: 0;
  width: 90%;
  margin-bottom: 4rem;
  padding: 10px;
  font-size: 1rem;
  border: none;
  background-color: white;
  border-radius: 6px;
  
}
.save-btn{
  width: 90%;
  font-size: 18px;
  border-radius: 4rem;
  border: 2px solid var(--text-color);
  margin-left: 10px;
  color: var(--text-color);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s ease;
}
.save-btn:hover{
  color: white;
  border: 2px solid var(--text-color);
  background: linear-gradient(45deg,var(--text-color),var(--hover-color),var(--text-color));
  transform: translateY(-3px) scale(1.03);
}
.save-btn:active{
  transform: scale(0.95);
}
.total-price{
  gap: 8px;
  font-size: 18px;
  display: flex;
  justify-content: end;
  align-items: end;
  margin-right: 8%;
 
}
.total-price span{
  font-size: 28px;
  font-weight: 700;
  color: var(--remove-color);
}
.delete-item{
  position: fixed;
  display: flex;
  justify-content: end;
  margin-left: 75%;
}
.remove{
  color: var(--remove-color);
  cursor: pointer;
  transition: all 0.3s ease;
}
.remove:hover{
  transform: scale(1.3);
  color: var(--hover-remove);
}
.remove:active{
  transform: scale(0.9);
}