

.text-card {
    width: 300px;
    border-radius: 1rem;
    overflow: hidden;
    background: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.45);
    transition: 0.3s;
}

.text-card:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.text-card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    display: block;
}

.card-content {
    padding: 1rem;
}

.card-content .card-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card-details .card-title {
    color: var(--text-color);
    font-size: 1.25rem;
    margin: 0.2rem 0;
    font-weight: 500;
}

.card-details .card-price {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 0.2rem 0;
}

.card-content p {
    font-size: 1rem;
    margin: 0.2rem 0 1rem 0;
}

.card-btn {
    display: flex;
    justify-content: end;
    margin-right: 8px;
    gap: 0.5rem;
    align-items: center;
}

.qty {
    cursor: none;
}

.card-btn .increse,
.card-btn .decline {
    font-size: 1.1rem;
    cursor: pointer;
}

.addtocart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding: 0.5rem 0;
    border: 2px solid var(--text-color);
    background-color: white;
    color: var(--text-color);
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
}

.addtocart:hover {
    transform: translateY(-5px) scale(1.02);
    background-color: var(--text-color);
    color: white;
    border: 2px solid var(--text-color);
}

.addtocart:active {
    transform: scale(0.90);
}

.addtocart:focus {
    outline: none;
}