nav{
  transition: all 0.3s ease-in-out;
}
.nav-home {
  width: 100%;
  padding-bottom: 20%;
  box-sizing: border-box;
  background-color: var(--bg-color); 
  position: absolute;
  z-index: 0;
  transition: all 0.4s ease-in-out;
}

/* Nav สำหรับหน้าอื่น */
.nav-default {
  width: 100%;
  padding:  0;
  position: relative;
  z-index: 3;
  background-color: var(--bg-color);
}

.nav-container {
  width: 90%;
  margin: 0 auto;
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logos{
  margin-right: 200px;
}
.logo {
  width: 250px;
  height: 60px;
  object-fit: contain;

}

.menus .items {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.menus li a,.dropdown-btn{
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-color);
}

.menus li a:hover,.dropdown-btn:hover {
  color: var(--hover-color);
}

/* dropdown เหมือนเดิม */
.dropdown {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  top: 140%;
  right: 10%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  min-width: 160px;
  padding: 0.5rem 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5px);
  transition: all 0.25s ease;
}
.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.dropdown-menu li {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  color: #6d4c41;
  transition: background 0.3s ease;
}
.dropdown-menu li:hover {
  background-color: #f3f3f3;
  color: #a1887f;
}
