:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color);
  color: var(--remove-color);
  color: var(--bg-color);
  color: var(--hover-color);
    color: var(--hover-remove);
  color-scheme: light dark;
  --text-color: #123429;
  --hover-color: #539A77;
  --bg-color: #2C8160;
  --hover-remove: #e51c23;
  --remove-color:#BF092F;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--text-color);
  text-decoration: inherit;
  text-align: center;
}
a:hover {
  color: var(--hover-color);
}

body {
  margin: 0;
  /* display: flex; */
  color: var(--text-color);
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--text-color);
  background-color: var(--text-color);
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: var(--hover-color);
  }
  button {
    background-color: #f9f9f9;
  }
}
